/api/app-laravel/.docker
/api/app-laravel/.env
/api/app-laravel/vendor

/api/app-laravel/.phpunit.cache
/api/app-laravel/node_modules
/api/app-laravel/public/build
/api/app-laravel/public/hot
/api/app-laravel/public/storage
/api/app-laravel/storage/*.key

/api/app-laravel/.env.backup
/api/app-laravel/.env.production
/api/app-laravel/.phpunit.result.cache
/api/app-laravel/Homestead.json
/api/app-laravel/Homestead.yaml
/api/app-laravel/auth.json
/api/app-laravel/npm-debug.log
/api/app-laravel/yarn-error.log
/api/app-laravel/.fleet
/api/app-laravel/.idea
/api/app-laravel/.vscode